@import 'common/fluid-type';

.btn {
  @include fluid-type(18px, 18px);
  @include text(700, $white-100);
  border-radius: 0.313rem;
  padding: 0.625rem 2.188rem;
  cursor: pointer;
  &-primary {
    background-color: $blue-200;
  }
  &-secondary {
    background-color: $blue-100;
  }
}
