@import '../common/variables';
@import '../common/mixins';

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 666;
  .promo {
    background-color: $blue-100;
    .container {
      @include center;
      h1 {
        @include fluid-type($text-xs, $text-lg, 700, $blue-200);
        color: $white-100;
        padding: 0.5rem;
        text-transform: uppercase;
      }
      .icon {
        margin-left: 0.25rem;
        color: $white-100;
      }
    }
  }
  .header {
    backdrop-filter: blur(2.5rem);
    .container {
      @include center-y-between;
      padding: 1rem 0;
      .header__logo {
        @include center-y;
        h1 {
          @include fluid-type($text-4xl, $text-4xl, 700, $blue-200);
          text-transform: uppercase;
          margin-left: 0.5rem;
        }
      }
      .header__menu {
        &-group {
          @include center-y;
          column-gap: 2.5rem;
          @media screen and (max-width: 900px) {
            display: none;
          }
          &__item {
            a {
              @include fluid-type($text-base, $text-base, 500, $blue-200);
            }
          }
        }
        &-hamburger {
          display: none;
          @media screen and (max-width: 900px) {
            display: block;
          }
          .icon {
            font-size: $text-4xl;
            color: $blue-200;
          }
        }
      }
    }
  }
}
