@use '../components/button';

@import '../other/all';

.features-wrapper {
  @include center-x;
  height: calc(100vh - 2.625rem);
  position: relative;
  overflow: hidden;
  background-color: $white-300;
  .features-background {
    position: absolute;
    bottom: -30%;
    right: 0;
    @media screen and (max-width: 1366px) {
      right: -25%;
    }
    img {
      width: 100%;
      @media screen and (max-width: 1366px) {
        width: 75%;
      }
    }
  }
  .container {
    .header {
      @include center-y;
      justify-content: space-between;
      padding: 0.938rem 0;
      position: relative;
      z-index: 10;
      &__logo {
        @include center-y;
        text-decoration: none;
        h1 {
          @include text-4xl(700, $blue-200);
          text-transform: uppercase;
          margin-left: 0.625rem;
          @media screen and (max-width: 500px) {
            font-size: 1.75rem;
          }
        }
      }
      &__menu {
        @include center-y;
        @media screen and (max-width: 1024px) {
          display: none;
        }
        &-group {
          display: flex;
          &__item {
            margin-left: 2.5rem;
            a {
              @include text-base(500, $blue-200);
            }
          }
        }
        .btn {
          margin-left: 2.5rem;
        }
      }
      &__menu-mobile {
        display: none;
        @media screen and (max-width: 1024px) {
          display: block;
        }
      }
    }
    .features {
      width: 95%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: 1024px) {
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &__text {
        h1 {
          @include text-5xl(700, $blue-200);
          @media screen and (max-width: 700px) {
            @include text-4xl(700, $blue-200);
          }
        }
        h3 {
          @include text-base(400, rgba($blue-200, 0.5));
          margin: 3rem 0;
          @media screen and (max-width: 700px) {
            margin: 1rem;
          }
        }
      }
    }
  }
}
