@import '../common/reset';
@import '../common/fonts';
@import '../common/default';
@import '../components/button';
@import '../common/fluid-type';
@import '../common/all';
@import '../tern/section';

.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $white-300;
  z-index: 9999;
  padding: 1rem;
  display: none;
  &.show {
    display: block;
  }
  &__header {
    @include center-y;
    justify-content: space-between;
    &-logo {
      @include center-y;
      h1 {
        @include fluid-type($text-4xl, $text-4xl);
        @include text(700, $blue-200);
        text-transform: uppercase;
        margin-left: 0.5rem;
      }
    }
    .icon {
      font-size: 35px;
      color: $blue-200;
    }
  }
  &__menu {
    margin-top: 5rem;
    &-group {
      display: flex;
      flex-direction: column;
      row-gap: 5rem;
      text-align: center;
      &__item {
        a {
          @include fluid-type($text-base, $text-base);
          @include text(500, $blue-200);
        }
      }
    }
  }
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .promo {
    background-color: $blue-100;
    .container {
      @include center;
      h1 {
        @include fluid-type($text-xs, $text-lg);
        @include text(700, $blue-200);
        color: $white-100;
        padding: 0.5rem;
        text-transform: uppercase;
      }
      .icon {
        margin-left: 0.25rem;
        color: $white-100;
      }
    }
  }
  .header {
    backdrop-filter: blur(2.5rem);
    .container {
      @include center-y;
      justify-content: space-between;
      padding: 1rem 0;
      .header__logo {
        @include center-y;
        h1 {
          @include fluid-type($text-4xl, $text-4xl);
          @include text(700, $blue-200);
          text-transform: uppercase;
          margin-left: 0.5rem;
        }
      }
      .header__menu {
        &-group {
          @include center-y;
          column-gap: 2.5rem;
          @media screen and (max-width: 900px) {
            display: none;
          }
          &__item {
            a {
              @include fluid-type($text-base, $text-base);
              @include text(500, $blue-200);
            }
          }
        }
        &-hamburger {
          display: none;
          @media screen and (max-width: 900px) {
            display: block;
          }
          .icon {
            font-size: 35px;
            color: $blue-200;
          }
        }
      }
    }
  }
}

.hero {
  @include center;
  min-height: 100vh;
  .container {
    margin-top: 10rem;
    .hero__header {
      text-align: center;
      h1 {
        @include fluid-type($text-4xl, $text-4xl);
        @include text(700, $blue-200);
      }
    }
    .plans {
      @include center;
      flex-direction: column;
      margin-top: 3rem;
      &__time {
        &-group {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          border: 2px solid $blue-100;
          border-radius: 0.5rem;
          &__item {
            @include fluid-type($text-base, $text-lg);
            @include text(700, $white-100);
            text-transform: uppercase;
            text-align: center;
            padding: 1.25rem 2rem;
            border-left: 2px solid $blue-100;
            transition: all 0.2s;
            cursor: pointer;
            background-color: $blue-100;
            @media screen and (max-width: 800px) {
              padding: 0.5rem;
            }
            &.active,
            &:hover {
              background-color: $white-100;
              color: $blue-100;
            }
            &:first-child {
              border-left: 0;
            }
          }
        }
      }
      &__box {
        margin-top: 5rem;
        background-color: $white-100;
        .offers {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          @media screen and (max-width: 1100px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
          }
          @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
          }
          &__item {
            border-radius: 0.5rem;
            &.active {
              background-color: $blue-100;
              .offers__item-header {
                h1,
                span {
                  color: $white-100;
                }
                &__discount {
                  h3 {
                    color: rgba($white-100, 0.7);
                  }
                  span {
                    color: $blue-200;
                    background-color: $yellow-100;
                  }
                }
              }
              .offers__item-body {
                .details {
                  &__item {
                    color: $white-100;
                  }
                }
              }
            }
            &-header {
              @include center;
              flex-direction: column;
              text-align: center;
              padding: 1.5rem 3rem;
              h1 {
                @include fluid-type($text-2xl, $text-2xl);
                @include text(700, $blue-100);
                text-transform: uppercase;
                text-wrap: nowrap;
                &.offers__item-header__price {
                  @include fluid-type($text-3xl, $text-3xl);
                  @include text(700, $blue-200);
                  span {
                    @include fluid-type($text-lg, $text-lg);
                    @include text(700, $blue-200);
                  }
                }
              }
              &__discount {
                @include center-y;
                margin: 1rem 0;
                h3 {
                  @include fluid-type($text-base, $text-base);
                  @include text(700, $gray-200);
                  text-decoration: line-through;
                }
                span {
                  @include fluid-type($text-xs, $text-xs);
                  @include text(700, $white-100);
                  padding: 0.33rem 0.5rem;
                  border-radius: 0.25rem;
                  background-color: $blue-200;
                  margin-left: 0.75rem;
                }
              }
            }
            &-body {
              margin: 1.5rem 0;
              .details {
                &__item {
                  @include fluid-type($text-sm, $text-sm);
                  @include text(600, $gray-200);
                  padding: 0.5rem 0;
                  border-top: 1px solid $white-300;
                  text-align: center;
                  &:first-child {
                    border-top: 0;
                  }
                  span {
                    font-weight: 400;
                  }
                }
              }
            }
            &-footer {
              @include center;
              padding: 2rem 0;
            }
          }
        }
      }
    }
  }
}

.faq {
  padding: 9.375rem 0;
  .container {
    .faq-header {
      text-align: center;
      h1 {
        @include fluid-type($text-4xl, $text-4xl);
        @include text(700, $blue-200);
      }
    }
    .faq-body {
      margin-top: 4.375rem;
      .questions {
        &__item {
          margin-top: 1.5rem;
          padding: 1.5rem;
          border: 1px solid $gray-200;
          box-shadow: 0 4px 19px 0 rgba($green-100, 0.3);
          &-header {
            @include center-y;
            justify-content: space-between;
            h1 {
              @include fluid-type($text-lg, $text-3xl);
              @include text(600, $blue-200);
            }
            .icon {
              font-size: 1.5rem;
              color: $blue-200;
            }
          }
          &-body {
            margin-top: 2rem;
            display: none;
            &.show {
              display: block;
            }
            p {
              @include fluid-type($text-base, $text-lg);
              @include text(500, rgba($blue-200, 0.5));
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: $white-200;
  .container {
    display: grid;
    grid-template-columns: 18.75rem auto;
    grid-gap: 6.25rem;
    @media screen and (max-width: 1000px) {
      grid-gap: 2.25rem;
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }
    .footer__company {
      @media screen and (max-width: 900px) {
        @include center;
        flex-direction: column;
        text-align: center;
      }
      &-logo {
        @include center-y;
        h1 {
          @include fluid-type($text-4xl, $text-4xl);
          @include text(700, $blue-200);
          text-transform: uppercase;
          margin-left: 0.25rem;
        }
      }
      p {
        @include fluid-type($text-base, $text-base);
        @include text(400, $gray-200);
        margin-top: 1.563rem;
      }
    }
    .footer__menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-gap: 2.188rem;
        text-align: center;
      }
      &-group {
        &__item {
          margin-top: 0.938rem;
          &.title {
            @include fluid-type($text-base, $text-base);
            @include text(700, $black-100);
          }
          a {
            @include fluid-type($text-base, $text-base);
            @include text(400, $gray-200);
          }
        }
      }
      .footer__double {
        .footer__social {
          margin-top: 2.188rem;
          h3 {
            @include fluid-type($text-base, $text-base);
            @include text(700, $black-100);
          }
          &-group {
            display: flex;
            column-gap: 1.25rem;
            margin-top: 0.938rem;
            @media screen and (max-width: 600px) {
              justify-content: center;
            }
            &__item {
              a {
                .icon {
                  color: $blue-100;
                }
              }
            }
          }
        }
      }
    }
  }
}

.terms-wrapper {
  @include center-x;
  padding: 1.5rem 0;
  .container {
    .terms {
      @include center-y;
      justify-content: space-between;
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      h1 {
        @include fluid-type($text-sm, $text-sm);
        @include text(400, $blue-200);
        @media screen and (max-width: 600px) {
          order: 1;
          margin-top: 1rem;
        }
      }
      &__group {
        @include center-x;
        @media screen and (max-width: 600px) {
          order: 0;
        }
        &-item {
          &:last-child {
            border-left: 1px solid $blue-200;
          }
          &__link {
            @include fluid-type($text-sm, $text-sm);
            @include text(400, $blue-200);
            margin: 0 0.5rem;
          }
        }
      }
    }
  }
}
