@import '../common/all';
@import '../tern/all';

// Top
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .header {
    backdrop-filter: blur(2.5rem);
    .container {
      @include center-y-between;
      justify-content: space-between;
      padding: 1rem 0;
      .header__logo {
        @include center-y;
        h1 {
          @include fluid-type($text-4xl, $text-4xl, 700, $blue-200);
          text-transform: uppercase;
          margin-left: 0.5rem;
        }
      }
      .header__menu {
        &-group {
          @include center-y;
          column-gap: 2.5rem;
          @media screen and (max-width: 900px) {
            display: none;
          }
          &__item {
            a {
              @include fluid-type($text-base, $text-base, 500, $blue-200);
            }
          }
        }
        &-hamburger {
          display: none;
          @media screen and (max-width: 900px) {
            display: block;
          }
          .icon {
            font-size: $text-4xl;
            color: $blue-200;
          }
        }
      }
    }
  }
}

.hero {
  @include center-y;
  min-height: 100vh;
  .container {
    .hero-body {
      @include center-y-between;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
      &__text {
        @media screen and (max-width: 900px) {
          order: 1;
          text-align: center;
        }
        h1 {
          @include fluid-type($text-4xl, $text-5xl, 700, $blue-200);
          span {
            font-weight: 500;
          }
        }
        button {
          margin-top: 3rem;
        }
      }
      &__image {
        @media screen and (max-width: 900px) {
          order: 0;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

.footer,
.terms-wrapper,
.hero,
.top {
  background-color: $white-300;
}
