@import 'other/all';

.services-wrapper {
  background-color: $white-500;
  .container {
    .services {
      margin-top: 5rem;
      &__group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5rem;
        @media screen and (max-width: 1200px) {
          grid-gap: 1rem;
        }
        @media screen and (max-width: 800px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 500px) {
          grid-template-columns: 1fr;
          grid-gap: 5rem;
        }
        &-item {
          @include center-y;
          flex-direction: column;
          text-align: center;
          &__image {
            @include center;
            width: 6.25rem;
            aspect-ratio: 1 / 1;
            background-color: $white-400;
            border-radius: 0.625rem;
          }
          &__text {
            h1 {
              @include text-xl(700, $blue-200);
              margin: 1rem 0;
            }
            p {
              @include text-base(400, $gray-200);
            }
          }
        }
      }
    }
  }
}
