@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#wrapper {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  outline: 0;
}

.container {
  width: 1536px;
  max-width: 95%;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.btn {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  border-radius: 0.313rem;
  padding: 0.625rem 2.188rem;
  cursor: pointer;
}
.btn {
  font-size: 18px;
}
@media screen and (min-width: 360px) {
  .btn {
    font-size: calc(18px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .btn {
    font-size: 18px;
  }
}
.btn-primary {
  background-color: #03045e;
}
.btn-secondary {
  background-color: #0098ff;
}
.btn-white {
  background-color: #fff;
  border: 0.125rem solid #0098ff;
  color: #0098ff;
  transition: all 0.2s;
}
.btn-white:hover {
  background-color: #0098ff;
  color: #fff;
}
.btn-green {
  background-color: #00c084;
}
.btn-red {
  background-color: #ff7171;
}

.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f7f8fd;
  z-index: 9999;
  padding: 1rem;
  display: none;
}
.dropdown.show {
  display: block;
}
.dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown__header-logo {
  display: flex;
  align-items: center;
}
.dropdown__header-logo h1 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.5rem;
}
.dropdown__header-logo h1 {
  font-size: 36px;
}
@media screen and (min-width: 360px) {
  .dropdown__header-logo h1 {
    font-size: calc(36px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dropdown__header-logo h1 {
    font-size: 36px;
  }
}
.dropdown__header .icon {
  font-size: 36px;
  color: #03045e;
}
.dropdown__menu {
  margin-top: 5rem;
}
.dropdown__menu-group {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  text-align: center;
}
.dropdown__menu-group__item a {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 500;
}
.dropdown__menu-group__item a {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .dropdown__menu-group__item a {
    font-size: calc(16px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dropdown__menu-group__item a {
    font-size: 16px;
  }
}

.setting {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(3, 4, 94, 0.3);
  z-index: 666;
  overflow-y: auto;
  display: none;
}
.setting.show {
  display: block;
}
.setting__modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 1.875rem;
  padding: 1.5rem;
  max-height: 95vh;
  overflow-y: auto;
}
.setting__modal .setting__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.setting__modal .setting__header h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 600;
}
.setting__modal .setting__header h1 {
  font-size: 30px;
}
@media screen and (min-width: 360px) {
  .setting__modal .setting__header h1 {
    font-size: calc(30px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .setting__modal .setting__header h1 {
    font-size: 30px;
  }
}
.setting__modal .setting__header .icon {
  font-size: 36px;
  color: #03045e;
  cursor: pointer;
}
.setting__modal .setting__body {
  margin: 3rem 0;
}
.setting__modal .setting__body-security .security {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
@media screen and (max-width: 900px) {
  .setting__modal .setting__body-security .security {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .setting__modal .setting__body-security .security {
    grid-template-columns: 1fr;
  }
}
.setting__modal .setting__body-security .security__item h1 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 600;
  text-wrap: nowrap;
}
.setting__modal .setting__body-security .security__item h1 {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .setting__modal .setting__body-security .security__item h1 {
    font-size: calc(14px + 6 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .setting__modal .setting__body-security .security__item h1 {
    font-size: 20px;
  }
}
.setting__modal .setting__body-security .security__item button {
  margin-top: 1rem;
  width: 100%;
}
.setting__modal .setting__body-form {
  margin-top: 3rem;
}
.setting__modal .setting__body-form .box {
  margin-top: 1rem;
}
.setting__modal .setting__body-form .box.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.setting__modal .setting__body-form .box.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
@media screen and (max-width: 900px) {
  .setting__modal .setting__body-form .box.grid-3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .setting__modal .setting__body-form .box.grid-2, .setting__modal .setting__body-form .box.grid-3 {
    grid-template-columns: 1fr;
  }
}
.setting__modal .setting__body-form .box .form-part {
  display: flex;
  flex-direction: column;
}
.setting__modal .setting__body-form .box .form-part label {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 600;
}
.setting__modal .setting__body-form .box .form-part label {
  font-size: 20px;
}
@media screen and (min-width: 360px) {
  .setting__modal .setting__body-form .box .form-part label {
    font-size: calc(20px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .setting__modal .setting__body-form .box .form-part label {
    font-size: 20px;
  }
}
.setting__modal .setting__body-form .box .form-part input {
  font-family: "Poppins", sans-serif;
  color: #7f80ad;
  font-weight: 400;
  padding: 1.25rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #7f80ad;
}
.setting__modal .setting__body-form .box .form-part input {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .setting__modal .setting__body-form .box .form-part input {
    font-size: calc(14px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .setting__modal .setting__body-form .box .form-part input {
    font-size: 14px;
  }
}
.setting__modal .setting__footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.dashboard {
  display: flex;
}
.dashboard__sidebar {
  max-width: 19.375rem;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .dashboard__sidebar {
    display: none;
  }
}
.dashboard__sidebar-top__logo {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.5rem;
}
.dashboard__sidebar-top__logo h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.5rem;
}
.dashboard__sidebar-top__logo h1 {
  font-size: 36px;
}
@media screen and (min-width: 360px) {
  .dashboard__sidebar-top__logo h1 {
    font-size: calc(36px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__sidebar-top__logo h1 {
    font-size: 36px;
  }
}
.dashboard__sidebar-top .menu {
  margin-top: 2rem;
}
.dashboard__sidebar-top .menu__group {
  margin: 0.625rem;
}
.dashboard__sidebar-top .menu__group-item {
  margin-top: 0.313rem;
}
.dashboard__sidebar-top .menu__group-item:first-child {
  margin-top: 0;
}
.dashboard__sidebar-top .menu__group-item a {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.dashboard__sidebar-top .menu__group-item a.active {
  background-color: rgba(0, 152, 255, 0.1);
}
.dashboard__sidebar-top .menu__group-item a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  aspect-ratio: 1/1;
  color: #03045e;
}
.dashboard__sidebar-top .menu__group-item a h3 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 500;
  margin-left: 1.25rem;
}
.dashboard__sidebar-top .menu__group-item a h3 {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .dashboard__sidebar-top .menu__group-item a h3 {
    font-size: calc(16px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__sidebar-top .menu__group-item a h3 {
    font-size: 16px;
  }
}
.dashboard__sidebar-support {
  align-self: flex-end;
  padding: 1rem;
  background-color: #0098ff;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dashboard__sidebar-support__text {
  text-align: center;
}
.dashboard__sidebar-support__text h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
}
.dashboard__sidebar-support__text h1 {
  font-size: 30px;
}
@media screen and (min-width: 360px) {
  .dashboard__sidebar-support__text h1 {
    font-size: calc(30px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__sidebar-support__text h1 {
    font-size: 30px;
  }
}
.dashboard__sidebar-support__text h3 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  margin-top: 1rem;
}
.dashboard__sidebar-support__text h3 {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .dashboard__sidebar-support__text h3 {
    font-size: calc(14px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__sidebar-support__text h3 {
    font-size: 14px;
  }
}
.dashboard__sidebar-support button {
  width: 100%;
  margin-top: 3rem;
}
.dashboard__sidebar-support button:hover {
  background-color: #fff;
  color: #0098ff;
}
.dashboard__body {
  flex-grow: 1;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.dashboard__body-help {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 0.625rem;
  background-color: #0098ff;
  cursor: pointer;
}
.dashboard__body-help .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
}
.dashboard__body-header {
  width: 100%;
  background-color: #fff;
}
.dashboard__body-header .container {
  width: 100%;
  max-width: 1536px;
}
.dashboard__body-header .container .header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__body-header .container .header__body-page {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 700;
}
.dashboard__body-header .container .header__body-page {
  font-size: 36px;
}
@media screen and (min-width: 360px) {
  .dashboard__body-header .container .header__body-page {
    font-size: calc(36px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body-header .container .header__body-page {
    font-size: 36px;
  }
}
.dashboard__body-header .container .header__body-user {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
@media screen and (max-width: 1100px) {
  .dashboard__body-header .container .header__body-page, .dashboard__body-header .container .header__body-user {
    display: none;
  }
}
.dashboard__body-header .container .header__body-mobile {
  display: none;
}
@media screen and (max-width: 1100px) {
  .dashboard__body-header .container .header__body-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.dashboard__body-header .container .header__body-mobile__logo {
  display: flex;
  align-items: center;
}
.dashboard__body-header .container .header__body-mobile__logo h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.5rem;
}
.dashboard__body-header .container .header__body-mobile__logo h1 {
  font-size: 36px;
}
@media screen and (min-width: 360px) {
  .dashboard__body-header .container .header__body-mobile__logo h1 {
    font-size: calc(36px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body-header .container .header__body-mobile__logo h1 {
    font-size: 36px;
  }
}
.dashboard__body-header .container .header__body-mobile__bars .icon {
  font-size: 30px;
  color: #03045e;
}
.dashboard__body .container {
  width: 100%;
  max-width: 1536px;
  padding: 0.625rem;
}
.dashboard__body .container .box-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .box-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .dashboard__body .container .box-container {
    display: flex;
    flex-direction: column;
  }
}
.dashboard__body .container .box-container .box {
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 1rem;
}
.dashboard__body .container .box-container .account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}
.dashboard__body .container .box-container .account__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard__body .container .box-container .account__header-image img {
  width: 100%;
  width: 8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.dashboard__body .container .box-container .account__header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.25rem;
  text-align: center;
}
.dashboard__body .container .box-container .account__header-text h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 600;
}
.dashboard__body .container .box-container .account__header-text h1 {
  font-size: 30px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .box-container .account__header-text h1 {
    font-size: calc(30px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .box-container .account__header-text h1 {
    font-size: 30px;
  }
}
.dashboard__body .container .box-container .account__header-text__address {
  display: flex;
  align-items: center;
}
.dashboard__body .container .box-container .account__header-text__address .icon {
  color: #7f80ad;
}
.dashboard__body .container .box-container .account__header-text__address h3 {
  font-family: "Poppins", sans-serif;
  color: #7f80ad;
  font-weight: 500;
  margin-left: 0.5rem;
}
.dashboard__body .container .box-container .account__header-text__address h3 {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .box-container .account__header-text__address h3 {
    font-size: calc(14px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .box-container .account__header-text__address h3 {
    font-size: 14px;
  }
}
.dashboard__body .container .box-container .account__body-group__item {
  margin-top: 1.5rem;
}
.dashboard__body .container .box-container .account__body-group__item.double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
@media screen and (max-width: 400px) {
  .dashboard__body .container .box-container .account__body-group__item.double {
    display: flex;
    flex-direction: column;
  }
}
.dashboard__body .container .box-container .account__body-group__item h3 {
  font-family: "Poppins", sans-serif;
  color: #7f80ad;
  font-weight: 500;
}
.dashboard__body .container .box-container .account__body-group__item h3 {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .box-container .account__body-group__item h3 {
    font-size: calc(14px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .box-container .account__body-group__item h3 {
    font-size: 14px;
  }
}
.dashboard__body .container .box-container .account__body-group__item h3 span {
  color: #00c084;
  font-weight: 700;
}
.dashboard__body .container .box-container .account__body-group__item h3.value {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 600;
  margin-top: 0.5rem;
}
.dashboard__body .container .box-container .account__body-group__item h3.value {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .box-container .account__body-group__item h3.value {
    font-size: calc(16px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .box-container .account__body-group__item h3.value {
    font-size: 16px;
  }
}
.dashboard__body .container .box-container .account__footer button {
  width: 100%;
}
.dashboard__body .container .box-container .wallet {
  background-color: #0098ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard__body .container .box-container .wallet__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__body .container .box-container .wallet__header h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
}
.dashboard__body .container .box-container .wallet__header h1 {
  font-size: 24px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .box-container .wallet__header h1 {
    font-size: calc(24px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .box-container .wallet__header h1 {
    font-size: 24px;
  }
}
.dashboard__body .container .box-container .wallet__header-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.dashboard__body .container .box-container .wallet__header-up .icon {
  font-size: 20px;
  color: #0098ff;
}
.dashboard__body .container .box-container .wallet__footer {
  padding-top: 3rem;
}
.dashboard__body .container .box-container .wallet__footer h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
}
.dashboard__body .container .box-container .wallet__footer h1 {
  font-size: 48px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .box-container .wallet__footer h1 {
    font-size: calc(48px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .box-container .wallet__footer h1 {
    font-size: 48px;
  }
}
.dashboard__body .container .transactions__header h1 {
  font-family: "Poppins", sans-serif;
  color: #232323;
  font-weight: 600;
}
.dashboard__body .container .transactions__header h1 {
  font-size: 20px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .transactions__header h1 {
    font-size: calc(20px + 4 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .transactions__header h1 {
    font-size: 24px;
  }
}
.dashboard__body .container .transactions__body {
  margin-top: 2.5rem;
}
.dashboard__body .container .transactions__body-group__item {
  margin-top: 1.5rem;
}
.dashboard__body .container .transactions__body-group__item .transaction {
  display: flex;
  align-items: center;
}
.dashboard__body .container .transactions__body-group__item .transaction__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 152, 255, 0.1);
}
.dashboard__body .container .transactions__body-group__item .transaction__icon .icon {
  font-size: 24px;
  color: #0098ff;
}
.dashboard__body .container .transactions__body-group__item .transaction__data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}
.dashboard__body .container .transactions__body-group__item .transaction__data-category h1 {
  font-family: "Poppins", sans-serif;
  color: #232323;
  font-weight: 600;
}
.dashboard__body .container .transactions__body-group__item .transaction__data-category h1 {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .transactions__body-group__item .transaction__data-category h1 {
    font-size: calc(16px + 2 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .transactions__body-group__item .transaction__data-category h1 {
    font-size: 18px;
  }
}
.dashboard__body .container .transactions__body-group__item .transaction__data-category h3 {
  font-family: "Poppins", sans-serif;
  color: #7f80ad;
  font-weight: 500;
}
.dashboard__body .container .transactions__body-group__item .transaction__data-category h3 {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .transactions__body-group__item .transaction__data-category h3 {
    font-size: calc(14px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .transactions__body-group__item .transaction__data-category h3 {
    font-size: 14px;
  }
}
.dashboard__body .container .transactions__body-group__item .transaction__data-amount h1 {
  font-family: "Poppins", sans-serif;
  color: #232323;
  font-weight: 600;
}
.dashboard__body .container .transactions__body-group__item .transaction__data-amount h1 {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .transactions__body-group__item .transaction__data-amount h1 {
    font-size: calc(16px + 2 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .transactions__body-group__item .transaction__data-amount h1 {
    font-size: 18px;
  }
}
.dashboard__body .container .transactions__body-group__item .transaction__data-amount h1.green {
  color: #00c084;
}
.dashboard__body .container .transactions__body-group__item .transaction__data-amount h1.red {
  color: #ff7171;
}
.dashboard__body .container .transactions__body-group__item .transaction__data-amount h1.yellow {
  color: #bfc765;
}
.dashboard__body .container .security {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard__body .container .security__header .icon {
  font-size: 48px;
  color: #0098ff;
  font-weight: 700;
}
.dashboard__body .container .security__body {
  margin: 1rem 0;
}
.dashboard__body .container .security__body h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 700;
}
.dashboard__body .container .security__body h1 {
  font-size: 24px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .security__body h1 {
    font-size: calc(24px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .security__body h1 {
    font-size: 24px;
  }
}
.dashboard__body .container .security__body h3 {
  font-family: "Poppins", sans-serif;
  color: #7f80ad;
  font-weight: 500;
  margin-top: 1rem;
}
.dashboard__body .container .security__body h3 {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .security__body h3 {
    font-size: calc(14px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .security__body h3 {
    font-size: 14px;
  }
}
.dashboard__body .container .security__footer button {
  width: 100%;
}
.dashboard__body .container .domain,
.dashboard__body .container .hosting,
.dashboard__body .container .builder,
.dashboard__body .container .services {
  display: flex;
  align-items: center;
}
.dashboard__body .container .domain__body,
.dashboard__body .container .hosting__body,
.dashboard__body .container .builder__body,
.dashboard__body .container .services__body {
  display: flex;
  align-items: center;
}
.dashboard__body .container .domain__body-icon,
.dashboard__body .container .hosting__body-icon,
.dashboard__body .container .builder__body-icon,
.dashboard__body .container .services__body-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 152, 255, 0.1);
  cursor: pointer;
}
.dashboard__body .container .domain__body-icon .icon,
.dashboard__body .container .hosting__body-icon .icon,
.dashboard__body .container .builder__body-icon .icon,
.dashboard__body .container .services__body-icon .icon {
  font-size: 20px;
  color: #0098ff;
}
.dashboard__body .container .domain__body-values,
.dashboard__body .container .hosting__body-values,
.dashboard__body .container .builder__body-values,
.dashboard__body .container .services__body-values {
  margin-left: 1rem;
}
.dashboard__body .container .domain__body-values h3,
.dashboard__body .container .hosting__body-values h3,
.dashboard__body .container .builder__body-values h3,
.dashboard__body .container .services__body-values h3 {
  font-family: "Poppins", sans-serif;
  color: #7f80ad;
  font-weight: 500;
}
.dashboard__body .container .domain__body-values h3,
.dashboard__body .container .hosting__body-values h3,
.dashboard__body .container .builder__body-values h3,
.dashboard__body .container .services__body-values h3 {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .domain__body-values h3,
  .dashboard__body .container .hosting__body-values h3,
  .dashboard__body .container .builder__body-values h3,
  .dashboard__body .container .services__body-values h3 {
    font-size: calc(16px + 2 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .domain__body-values h3,
  .dashboard__body .container .hosting__body-values h3,
  .dashboard__body .container .builder__body-values h3,
  .dashboard__body .container .services__body-values h3 {
    font-size: 18px;
  }
}
.dashboard__body .container .domain__body-values h1,
.dashboard__body .container .hosting__body-values h1,
.dashboard__body .container .builder__body-values h1,
.dashboard__body .container .services__body-values h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 600;
  margin-top: 0.5rem;
}
.dashboard__body .container .domain__body-values h1,
.dashboard__body .container .hosting__body-values h1,
.dashboard__body .container .builder__body-values h1,
.dashboard__body .container .services__body-values h1 {
  font-size: 18px;
}
@media screen and (min-width: 360px) {
  .dashboard__body .container .domain__body-values h1,
  .dashboard__body .container .hosting__body-values h1,
  .dashboard__body .container .builder__body-values h1,
  .dashboard__body .container .services__body-values h1 {
    font-size: calc(18px + 6 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .dashboard__body .container .domain__body-values h1,
  .dashboard__body .container .hosting__body-values h1,
  .dashboard__body .container .builder__body-values h1,
  .dashboard__body .container .services__body-values h1 {
    font-size: 24px;
  }
}
.dashboard__body .container .account {
  grid-area: 1/1/5/3;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .account {
    grid-area: 1/1/5/3;
  }
}
.dashboard__body .container .wallet {
  grid-area: 1/3/3/5;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .wallet {
    grid-area: 1/3/3/5;
  }
}
.dashboard__body .container .hosting {
  grid-area: 1/5/1/5;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .hosting {
    grid-area: 5/2/5/2;
  }
}
.dashboard__body .container .builder {
  grid-area: 1/6/1/6;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .builder {
    grid-area: 6/2/6/2;
  }
}
.dashboard__body .container .services {
  grid-area: 2/5/2/5;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .services {
    grid-area: 6/1/6/1;
  }
}
.dashboard__body .container .domain {
  grid-area: 2/6/2/7;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .domain {
    grid-area: 5/1/5/1;
  }
}
.dashboard__body .container .transactions {
  grid-area: 3/3/5/5;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .transactions {
    grid-area: 3/3/5/5;
  }
}
.dashboard__body .container .security {
  grid-area: 3/5/5/7;
}
@media screen and (max-width: 1400px) {
  .dashboard__body .container .security {
    grid-area: 5/3/7/6;
  }
}