/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#wrapper {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  outline: 0;
}

.container {
  width: 1536px;
  max-width: 95%;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.btn {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  border-radius: 0.313rem;
  padding: 0.625rem 2.188rem;
  cursor: pointer;
}
.btn {
  font-size: 18px;
}
@media screen and (min-width: 360px) {
  .btn {
    font-size: calc(18px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .btn {
    font-size: 18px;
  }
}
.btn-primary {
  background-color: #03045e;
}
.btn-secondary {
  background-color: #0098ff;
}
.btn-white {
  background-color: #fff;
  border: 0.125rem solid #0098ff;
  color: #0098ff;
  transition: all 0.2s;
}
.btn-white:hover {
  background-color: #0098ff;
  color: #fff;
}
.btn-green {
  background-color: #00c084;
}
.btn-red {
  background-color: #ff7171;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#wrapper {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  outline: 0;
}

.container {
  width: 1536px;
  max-width: 95%;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mail {
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 10px;
}
.mail__header {
  position: relative;
}
.mail__header-title {
  width: 100%;
  position: absolute;
  text-align: center;
  margin-top: 30px;
}
.mail__header-title h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
}
.mail__header-title h3 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
}
.mail__header img {
  width: 100%;
}
.mail__text {
  padding: 0 100px 50px 100px;
}
.mail__text p {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.5px;
}
.mail__text p span {
  font-family: "Poppins", sans-serif;
  color: #0098ff;
  font-weight: 700;
}
.mail__footer {
  padding: 0 100px 100px 100px;
}
.mail__footer button {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}