@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#wrapper {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  outline: 0;
}

.container {
  width: 1536px;
  max-width: 95%;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.tern-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6.25rem 0;
}
@media screen and (max-width: 700px) {
  .tern-section {
    padding: 3.5rem 0;
  }
}

.btn {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  border-radius: 0.313rem;
  padding: 0.625rem 2.188rem;
  cursor: pointer;
}
.btn {
  font-size: 18px;
}
@media screen and (min-width: 360px) {
  .btn {
    font-size: calc(18px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .btn {
    font-size: 18px;
  }
}
.btn-primary {
  background-color: #03045e;
}
.btn-secondary {
  background-color: #0098ff;
}
.btn-white {
  background-color: #fff;
  border: 0.125rem solid #0098ff;
  color: #0098ff;
  transition: all 0.2s;
}
.btn-white:hover {
  background-color: #0098ff;
  color: #fff;
}
.btn-green {
  background-color: #00c084;
}
.btn-red {
  background-color: #ff7171;
}

.footer {
  background-color: #f6f6f6;
}
.footer .container {
  display: grid;
  grid-template-columns: 18.75rem auto;
  grid-gap: 6.25rem;
}
@media screen and (max-width: 1000px) {
  .footer .container {
    grid-gap: 2.25rem;
  }
}
@media screen and (max-width: 900px) {
  .footer .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 900px) {
  .footer .container .footer__company {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
.footer .container .footer__company-logo {
  display: flex;
  align-items: center;
}
.footer .container .footer__company-logo h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.25rem;
}
.footer .container .footer__company-logo h1 {
  font-size: 36px;
}
@media screen and (min-width: 360px) {
  .footer .container .footer__company-logo h1 {
    font-size: calc(36px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .footer .container .footer__company-logo h1 {
    font-size: 36px;
  }
}
.footer .container .footer__company p {
  font-family: "Poppins", sans-serif;
  color: #7f80ad;
  font-weight: 400;
  margin-top: 1.563rem;
}
.footer .container .footer__company p {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .footer .container .footer__company p {
    font-size: calc(16px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .footer .container .footer__company p {
    font-size: 16px;
  }
}
.footer .container .footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 600px) {
  .footer .container .footer__menu {
    grid-template-columns: 1fr;
    grid-gap: 2.188rem;
    text-align: center;
  }
}
.footer .container .footer__menu-group__item {
  margin-top: 0.938rem;
}
.footer .container .footer__menu-group__item.title {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 700;
}
.footer .container .footer__menu-group__item.title {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .footer .container .footer__menu-group__item.title {
    font-size: calc(16px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .footer .container .footer__menu-group__item.title {
    font-size: 16px;
  }
}
.footer .container .footer__menu-group__item a {
  font-family: "Poppins", sans-serif;
  color: #7f80ad;
  font-weight: 400;
}
.footer .container .footer__menu-group__item a {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .footer .container .footer__menu-group__item a {
    font-size: calc(16px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .footer .container .footer__menu-group__item a {
    font-size: 16px;
  }
}
.footer .container .footer__menu .footer__double .footer__social {
  margin-top: 2.188rem;
}
.footer .container .footer__menu .footer__double .footer__social h3 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 700;
}
.footer .container .footer__menu .footer__double .footer__social h3 {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .footer .container .footer__menu .footer__double .footer__social h3 {
    font-size: calc(16px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .footer .container .footer__menu .footer__double .footer__social h3 {
    font-size: 16px;
  }
}
.footer .container .footer__menu .footer__double .footer__social-group {
  display: flex;
  column-gap: 1.25rem;
  margin-top: 0.938rem;
}
@media screen and (max-width: 600px) {
  .footer .container .footer__menu .footer__double .footer__social-group {
    justify-content: center;
  }
}
.footer .container .footer__menu .footer__double .footer__social-group__item a .icon {
  color: #0098ff;
}

.terms-wrapper {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}
.terms-wrapper .container .terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .terms-wrapper .container .terms {
    flex-direction: column;
  }
}
.terms-wrapper .container .terms h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 400;
}
.terms-wrapper .container .terms h1 {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .terms-wrapper .container .terms h1 {
    font-size: calc(14px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .terms-wrapper .container .terms h1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .terms-wrapper .container .terms h1 {
    order: 1;
    margin-top: 1rem;
  }
}
.terms-wrapper .container .terms__group {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .terms-wrapper .container .terms__group {
    order: 0;
  }
}
.terms-wrapper .container .terms__group-item:last-child {
  border-left: 0.063rem solid #03045e;
}
.terms-wrapper .container .terms__group-item__link {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 400;
  margin: 0 0.5rem;
}
.terms-wrapper .container .terms__group-item__link {
  font-size: 14px;
}
@media screen and (min-width: 360px) {
  .terms-wrapper .container .terms__group-item__link {
    font-size: calc(14px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .terms-wrapper .container .terms__group-item__link {
    font-size: 14px;
  }
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.top .header {
  backdrop-filter: blur(2.5rem);
}
.top .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  padding: 1rem 0;
}
.top .header .container .header__logo {
  display: flex;
  align-items: center;
}
.top .header .container .header__logo h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 0.5rem;
}
.top .header .container .header__logo h1 {
  font-size: 36px;
}
@media screen and (min-width: 360px) {
  .top .header .container .header__logo h1 {
    font-size: calc(36px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .top .header .container .header__logo h1 {
    font-size: 36px;
  }
}
.top .header .container .header__menu-group {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}
@media screen and (max-width: 900px) {
  .top .header .container .header__menu-group {
    display: none;
  }
}
.top .header .container .header__menu-group__item a {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 500;
}
.top .header .container .header__menu-group__item a {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  .top .header .container .header__menu-group__item a {
    font-size: calc(16px + 0 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .top .header .container .header__menu-group__item a {
    font-size: 16px;
  }
}
.top .header .container .header__menu-hamburger {
  display: none;
}
@media screen and (max-width: 900px) {
  .top .header .container .header__menu-hamburger {
    display: block;
  }
}
.top .header .container .header__menu-hamburger .icon {
  font-size: 36px;
  color: #03045e;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.hero .container .hero-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .hero .container .hero-body {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .hero .container .hero-body__text {
    order: 1;
    text-align: center;
  }
}
.hero .container .hero-body__text h1 {
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 700;
}
.hero .container .hero-body__text h1 {
  font-size: 36px;
}
@media screen and (min-width: 360px) {
  .hero .container .hero-body__text h1 {
    font-size: calc(36px + 12 * (100vw - 360px) / 1560);
  }
}
@media screen and (min-width: 1920px) {
  .hero .container .hero-body__text h1 {
    font-size: 48px;
  }
}
.hero .container .hero-body__text h1 span {
  font-weight: 500;
}
.hero .container .hero-body__text button {
  margin-top: 3rem;
}
@media screen and (max-width: 900px) {
  .hero .container .hero-body__image {
    order: 0;
  }
}
.hero .container .hero-body__image img {
  width: 100%;
}

.footer,
.terms-wrapper,
.hero,
.top {
  background-color: #f7f8fd;
}